@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
p {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h2{
color: var(--clr-white);
text-transform: uppercase;
text-align: center;
padding-top: 50px;
margin-left: 60px;
color: hsl(205, 68%, 36%);
font-family: var(--ff-primary);
}

.shcontainer{
  display: flex;
  justify-content: space-between;
}

.nav-link{
  color: aqua;
}
.mcontainer{
  display: flex;
}

.userimg{
  height: 10vh;
}