<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WEBSITE</title>
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!-- styles -->
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header id="home">
      <!-- navbar -->
      <nav id="nav">
        <div class="nav-center">
          <!-- nav header -->
          <div class="nav-header">
            <img src="logo.png" class="logo" alt="logo" />
            <button class="nav-toggle">
              <i class="fas fa-bars"></i>
            </button>
          </div>
          <!-- links -->
          <div class="links-container">
            <ul class="links">
              <li>
                <a href="#home" class="scroll-link">home</a>
              </li>
              <li>
                <a href="#about" class="scroll-link">about</a>
              </li>
              <li>
                <a href="#contact" class="scroll-link">Contact us</a>
              </li>
              <li>
               <button  type ="button"  class="scroll-link btn btn-white " style="margin-left: 30px ;">
                 SIGN UP
               </button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- banner -->
      <div class="banner">
        <div class="container">
          <h1><span style="color: rgb(43, 174, 218);">QUERY </span> HUB</h1>
          <p>
            We provide the best solution.The best word problem solver. Answers provided by experts with step-By-step solutions. <br>Register and get one year access and enjoy the ride! 
          </p>
          <a href="#tours" class="scroll-link btn btn-white " >ASK QUESTIONS</a>
        </div>
      </div>
    </header>
    <!-- about -->
    <section id="about" class="section">
      <div class="title">
        <h2>about <span>us</span></h2>
        <div class="skill-row" style="margin-bottom:100px ; ">
          <img class="code-img" src="nishita.png"  width="20%" height="20%"> 
          <h4 ">Nishita Chaturvedi</h4>
           <p>B.Tech 3rd Year @ JUET Guna ,Frontend Developer(Learning).</p> 
        </div>
          <div class="skill-row">
             <img class="coffee-gif" src="nitin.jpg"  width="20%" height="20%"> 
              <h4 class="space"> Nitin Yadav </h4>
             <p class="space">Juet CSE student, Backend Web developer (Learning).</p> 
          </div>
              <div class="skill-row" style="margin-bottom:10px ; padding-bottom: 10px;">
                <img class="code-img"  src="pratuysh.png" style="margin-bottom:70px " width="10%" height="10%"> 
                <h4  style="margin-bottom:10px ;">Pratyush Shukla  </h4>
                 <p style="margin-bottom:70px ; ">B.Tech 3rd Year @ JUET Guna ,AI/ML Deep learning.</p> 
              </div>
        </div>
        
      
      
    </section>
  
    <!-- services -->
    <section id="contact" class="section">
      <div class="title">
        <h2 style="margin-right: 5% ;">contact<span> Us</span></h2>
        </ul>
        <!-- social media -->
        <ul class="social-icons" style="margin-top: 80px;">
          <li>
            <a href="https://www.twitter.com">
              <i class="fab fa-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com">
              <i class="fab fa-behance"></i>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com">
              <i class="fab fa-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://www.twitter.com">
              <i class="fab fa-sketch"></i>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <!-- contact -->
    
    
    <!-- footer -->
    <footer class="section">
      <p>
        copyright &copy; Word Problem Solving Website
        <span id="date"></span>. all rights reserved
      </p>
    </footer>
    <a class="scroll-link top-link" href="#home">
      <i class="fas fa-arrow-up"></i>
    </a>
    <!-- javascript -->
    <script src="app.js"></script>
  </body>
</html>
